


#crafting-list {
    width: 50%;
    height: 100%;
    /* background-color: black; */
    overflow-y: hidden; 
}

.craftable-element {
    display: inline-block;
    margin: 5px;
    width: 64px;
    height: 64px;
    background-color: white;
}

#crafting-detail {
    width: 40%;
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

#craftable-name {    
    color: white;
    font-size: 32px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    padding: 4px;
    text-align: center;
    /* background-color: yellow; */
}

#craftable-img {
    height: 60%;
    /* background-color: red; */
}

.craftable-img {
    width: 100%;
    height: 100%;
    padding: 5%;
    object-fit: contain;
}

#craftable-ingredients {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
}

.craftable-ingredients-element {
    position: relative;
    /* margin: 2%; */
    height: 64px;
    width: 64px;
    margin: 2px;
    display: flex;
    flex-direction: column;
}

.craftable-ingredients-img {
    position: relative;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    object-fit: contain;
}

.craftable-ingredients-sufficiency {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#craftable-craft-btn {
    margin: 5%;
    padding: 4px;
    font-size: 32px;
    text-align: center;
    border: solid 1px white;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}

