


#hud {
    position: absolute;
    left: 0%;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    image-rendering: pixelated;
    /* background-color: blue;
    opacity: 0.5; */
}

#hud-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    /* margin-left: 5%;
    margin-right: 5%; */
}




#hud-footer {
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    width: 100%;
    height: 35%;
    bottom: 0;
    display: flex;
}

#joy-stick-wrapper {
    position: relative;
    width: 35%;
}

#stats-container {
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4px; */
    margin-top: auto;
    width: 30%;
}

#action-buttons-container {
    position: relative;
    image-rendering: auto;
    pointer-events: auto;
    width: 35%;
    display: flex;
}

.button-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
}

.action-btn-wrapper {
    position: relative;
    border-radius: 50%;
    border: none;
    width: 80%;
    margin-left: auto;
    aspect-ratio: 1;
    background-color: rgba(49, 49, 49, 0.336);
    cursor: pointer;
    pointer-events: auto;
}

.action-btn-img {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.btn-switcher {
    position: absolute;
    left: 0%;
    top: 0;
    width: 35%;
    aspect-ratio: 1;
    border-radius:10%;
    background-color: rgba(49, 49, 49, 0.336);
    cursor: pointer;
}

#col-1-btn-container {
    width: 22%;
    margin-top: auto;
}



#col-2-btn-container {
    width: 25%;
}

#col-3-btn-container {
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#col-4-btn-container {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(63, 63, 63);
}


/* Joystick */

#joyDiv {
    position: absolute;
    left: 10%;
    bottom: 5%;
    pointer-events: auto;
    /* box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.651); */
}

/* Quest prompt */
#quest-prompt {
    position: absolute;
    left: 0;
    top: 45%;
    margin-left: 5%;
    width: 200px;
    height: 30%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    /* background-color: red; */
}

#quest-prompt-task-name {
    color: rgb(245, 245, 245);
    font-weight: 800;
    font-size: large;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    border-bottom: 2px solid #8d8d8d;
    pointer-events: auto;
}

#quest-prompt-task-hints {
    display: flex;
}

#quest-prompt-task-distance {
    color: orange;
    font-size: small;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/* #quest-prompt-task-direction-icon {
    width: 10%;
    image-rendering: auto;
} */