


#hud {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: none;
    image-rendering: pixelated;
    /* background-color: blue;
    opacity: 0.5; */
}

#action-btn {
    pointer-events: auto;
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    background-color: gray;
}

#action-btn-icon {
    max-width: 35px;
}
