

.panel-container {
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    pointer-events: auto;
}


/* Panel Header*/
.panel-header {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: black;
}

.panel-exit-btn {

}

/* Panel Body */
.panel-body {
    position: relative;
    display: flex;
    height: 80%;
}

/* Panel list */
.panel-list {
    width: 70%;
    height: 100%;
    padding: 5px;
    overflow-y: scroll;
}

.panel-item {
    display: inline-block;
    width: 64px;
    height: 84px;
    margin: 2px;
    padding: 4px;
    background-color: rgb(223, 223, 223);
}

.panel-item:hover {
    background-color: white;
    padding: 2px;
}

.panel-item-img-wrapper {

}

.panel-item-img {
    width: 100%;
    height: 100%;
}

.panel-item-quantity {
    border-top: 2px solid black;
    text-align: end;
}

/* Panel detail */
.panel-detail {
    position: relative;
    width: 30%;
    height: 90%;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.panel-detail-header {
    background-color: rgb(59, 75, 99);
    color: white;
    font-size: 24px;
    padding: 4px;
    
}

.panel-detail-body {
    position: relative;
    flex-grow: 2;
    background: linear-gradient(130deg , rgb(70, 87, 117) 00%,rgb(141, 154, 173) 100%);
}

.panel-detail-body-type {
    padding: 4px;
    font-size: 14px;
    color: white;
}

.panel-detail-body-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    width: 35%;
}

.panel-detail-descriptions {
    position: relative;
    flex-grow: 3;
    background-color: antiquewhite;
    padding: 5px;
    font-weight: bold;
    color: #636363;
}

.panel-detail-footer {
    position: relative;
    flex-grow: 3;
    padding: 4px;
    left: 0%;
    bottom: 0%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    background-color: orange;
}