

.panel-container {
    position:absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    pointer-events: auto;
    /* display: none; */
    display: block;
}


/* Panel Header*/
.panel-header {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: black;
}

.panel-tag {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.panel-category-container {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    white-space: nowrap;
    /* background-color: red; */
}

.panel-category-element {
    display: inline-block;
    margin: auto;
    /* border: 1px solid white; */
    height: 100%;
    aspect-ratio: 1;
    image-rendering: auto;
    background-color: black;
    padding: 4px;
    transition: 0.1s;
    cursor: pointer;
}

.panel-category-element:hover {
    filter: invert(100%);
    padding: 0px;
}

.panel-exit-btn {
    position: absolute;
    right: 0;
    transform: scale(0.5);
    height: 100%;
    aspect-ratio: 1;
    color: white;
    image-rendering: auto;
    transition: 0.1s;
    cursor: pointer;
}
.panel-exit-btn:hover {
    transform: scale(0.6);
}

/* Panel Body */
.panel-body {
    position: relative;
    display: flex;
    height: 80%;
    padding-top: 10px;
}

/* Panel list */
.panel-list {
    width: 70%;
    height: 100%;
    padding: 5px;
    overflow-y: scroll;
}

.panel-item {
    display: inline-block;
    width: 64px;
    height: 84px;
    margin: 2px;
    padding: 4px;
    background-color: rgb(223, 223, 223);
}

.panel-item:hover {
    background-color: white;
    padding: 2px;
}

.panel-item-img-wrapper {

}

.panel-item-img {
    width: 100%;
    height: 100%;
}

.panel-item-quantity {
    border-top: 2px solid black;
    text-align: end;
}

/* Panel detail */
.panel-detail {
    position: relative;
    width: 30%;
    height: 90%;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.panel-detail-header {
    background-color: rgb(59, 75, 99);
    color: white;
    font-size: 24px;
    padding: 4px;
    
}

.panel-detail-body {
    position: relative;
    flex-grow: 2;
    background: linear-gradient(130deg , rgb(70, 87, 117) 00%,rgb(141, 154, 173) 100%);
}

.panel-detail-body-type {
    padding: 4px;
    font-size: 14px;
    color: white;
}

.panel-detail-body-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    width: 35%;
}

.panel-detail-descriptions {
    position: relative;
    flex-grow: 3;
    background-color: antiquewhite;
    padding: 5px;
    font-weight: bold;
    color: #636363;
}

.panel-detail-owned {
    position: relative;
    height: 32px;
    padding: 5px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    background-color: orange;
}

.panel-detail-footer {
    position: relative;
    flex-grow: 3;
    padding: 4px;
    left: 0%;
    bottom: 0%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    background-color: orange;
}