

.bar-background {
    position: relative;
    height: 100%;
    border-radius: 4px;
    background-color: black;
}

.bar-foreground {
    position: absolute;
    left: 1px;
    top: 1px;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    border-radius: 4px;
}

.bar-value {
    position: absolute;
    top: 1px;
    height: 13px;
    font-size: 11px;
    width: calc(100% - 2px);
    text-align: center;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}



/* Hunger Thirst Container */
#hunger-thirst-container {
    position: relative;
    height: 20px;
    display: flex;
}

#hunger-bar-container {
    width: 50%;
    display: flex;
}

#hunger-bar-icon {
    height: 100%;
    aspect-ratio: 1;
}

#hunger-bar {
    position: relative;
    width: 70%;
    height: 15px;
    margin: auto 0;
}

#hunger-bar-current {
    height: 100%;
    width: 100%;
    background-color: orange;
}

#thirst-bar-container {
    width: 50%;
    display: flex;
}

#thirst-bar-icon {
    height: 100%;
    aspect-ratio: 1;
}

#thirst-bar {
    position: relative;
    width: 70%;
    height: 15px;
    margin: auto 0;
}

#thirst-bar-current {
    height: 100%;
    width: 100%;
    background-color: blue;
}

/* Health Container */
#health-bar-container {
    position: relative;
    height: 25px;
    width: 100%;
    display: flex;
}

#health-bar {
    position: relative;
    width: 100%;
    height: 15px;
    margin: auto 0;
}

#health-bar-current {
    height: 100%;
    width: 100%;
    background-color: white;
}

