* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* font-smooth: never;
    -webkit-font-smoothing : none; */
    /* font-family: "ＭＳ Ｐゴシック"; */
    font-family: sans-serif;
    user-select: none;
    box-sizing: border-box;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar:hover {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
} 



body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: manipulation;
}

.img-rendering-pixelated {
    image-rendering: pixelated;
}



#fps {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/* Collectables */
#collectables-container {
    position: absolute;
    top: 45%;
    left: 55%;
    width: 200px;
    height: 114px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.collectable-btn {
    margin: 2px;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 32px;
    display: flex;
    flex-shrink: 0;
    flex-direction: start;
    align-items: center;
    justify-content: left;
    pointer-events: auto;
    cursor: pointer;
    background: linear-gradient(to right, rgb(35, 35, 35, 0.7) 33%,rgba(35, 35, 35, 0) 100%);
}
.collectable-btn:hover {
    border-color: red;
}

.collectable-img {
    border: none;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-right: 10px;
    pointer-events: none;
}

.collectable-name {
    font-size: 12px;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    pointer-events: none;
}

#shop-container {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    pointer-events: auto;
    display: none;
    /* display: block; */
}

#shop-header {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: black;
    padding-left: 10%;
    display: flex;
    align-items: center;
}

#shop-name {
    color: white;
    font-size: 24px;    
}

#shop-exit-btn {
    position: absolute;
    right: 10px;
    background-color: red;
    width: 60px;
    height: 60px;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    border-radius: 50%;
    justify-self: end;
    color: white;
}

#shop-content {
    position: relative;
    width: 100%;
    height: 75%;
    display: flex;
    /* background-color: white; */
    padding-top: 10px;
}

#shop-item-list {
    width: 60%;
    height: 100%;
    padding-left: 10%;
    padding-right: 1%;
    overflow-y: scroll;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* background-color: red; */
}

.shop-item {
    position: relative;
    width: 97%;
    height: 72px;
    margin: auto;
    margin-top: 4px;
    font-size: 16px;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    background-color: rgb(54, 54, 54);
    display: flex;
    align-items: center;
}

.shop-item:hover {
    background-color: rgb(32, 32, 32);
    text-shadow: none;
    color: white;
}

.shop-item-selected {
    background-color: antiquewhite;
    color: black;
    width: 100%;
    height: 80px;
    font-weight: bolder;
    text-shadow: none;
}

.shop-item-selected:hover {
    background-color: antiquewhite;
    color: black;
}

.shop-item-img {
    margin: 4px;
    width: 64px;
    height: 64px;
    background-color: rgb(228, 255, 255);
}

.shop-item-descriptions {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.shop-item-descriptions-name {
    font-weight: bold;
    font-size: 20px;
}

.shop-item-descriptions-price {

}

.shop-item-limit {
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
}

#shop-item-info-wrapper {
    width: 40%;
    height: 100%;
    padding-left: 1%;
    padding-right: 10%;
}

#shop-item-info {
    width: 100%;
}


/* #shop-item-info-owned {
    position: absolute;
    padding: 4px;
    left: 0%;
    bottom: 0%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    background-color: orange;
} */

#shop-footer {
    position: relative;
    height: 15%;
}

#shop-purchase-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
}

#shop-quantity-window {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* display: block; */
    display: none;
}

#shop-quantity-wrapper {
    position: absolute;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 75%;
    width: 60%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

#shop-quantity-title {
    font-size: 30px;
    font-weight: bolder;
    padding: 5px;
    color: #3f3d5a;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#shop-quantity-img-container {
    position: relative;
    flex-grow: 4;
    background: linear-gradient(130deg , rgb(70, 87, 117) 00%,rgb(141, 154, 173) 100%);
}

#shop-quantity-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
}

#shop-quantity-quantity {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: #3f3d5a;
    justify-content: center;
    align-items: center;
}
#shop-quantity-quantity-text {
    font-size: 16px;
}
#shop-quantity-quantity-value {
    font-size: 20px;
    font-weight: bolder;
}
#shop-quantity-selector {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
}

#shop-quantity-range {
    width: 50%;
    cursor: pointer;
}

.adjust-quantity-btn {
    background-color: #343847;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
}

#shop-quantity-cost {
    flex-grow: 1;
    margin: auto;
}


#shop-quantity-btns {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    background-color: #343847;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}


.ui-container {
    position: absolute;
    margin: 10px;
    right: 0;
    top: 0;
    display: flex;
}

.ui-btn {
    width: 64px;
    height: 64px;
    background-color: #00000000;
    pointer-events: auto;
    border: none;
}

.ui-img {
    image-rendering: auto;
    width: 64px;
    height: 64px;
    cursor: pointer;
}


