
#wish-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000006b;
    pointer-events: auto;
    display: none;
    /* display: block; */
}



/* Banner  */
#banner-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#banner-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../assets/wish/wish-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}

/* Banner Sidebar */
#banner-sidebar {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.582);
    border-right: 1px solid rgba(255, 255, 255, 0.651);
    display: flex;
    flex-direction: column;
}

#banner-tag {
    position: relative;
    height: 80px;
}

#banner-text {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: 600;
    color: white;
}

#banner-choice-container {
    /* background-color: white; */
}

.banner-choice-item {
    margin: 10px;
    margin-left: 15%;
    padding: 15px;
    width: 60%;
    font-weight: 600;
    text-align: center;
    align-items: center;
    border: white solid 2px;
    color: rgb(230, 230, 230);
    cursor: pointer;
    background-color: rgb(51, 50, 50);
}

.banner-selected {
    width: 80%;
    margin-left: 10%;
    padding: 20px;
    color: rgb(51, 50, 50);
    background-color: rgb(230, 230, 230);
}

/* Banner Body */
#banner-body {
    position: relative;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.404);
}

#banner-header {
    position: relative;
    width: 100%;
    height: 10%;
}

#banner-currency {
    position: absolute;
    height: 100%;
    top: 0;
    left: 10%;
    display: flex;
    color: white;
}

#banner-exit-btn {
    position: absolute;
    right: 0;
    transform: scale(0.5);
    height: 100%;
    aspect-ratio: 1;
    color: white;
    image-rendering: auto;
    transition: 0.1s;
    cursor: pointer;
}
#banner-exit-btn:hover {
    transform: scale(0.6);
}

/* Banner Footer */
#banner-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    display: flex;
    /* background-color: blue; */
}

#banner-helpers {
    width: 50%;
    /* background-color: green; */
}

#banner-wish-btns {
    width: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner-wish-btns:hover {
    cursor: pointer;
}

.wish-btn {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: rgb(243, 243, 243);
    margin: 10px;
    pointer-events: auto;
}

.wish-btn-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(1.2vw + 1.2vh);
    /* font-size: 100%; */
    color: rgb(31, 31, 31);
}

/* Spinner */
#spinner-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../assets/wish/wish-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}

#spinner-body {
    position: relative;
    height: 100%;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    transition: 2s;
}

#spinner {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #ccc;
    border-radius: 50%;
    border: 15px solid #dde;
    overflow: hidden;
    transform: scale(0.7);
    /* transition: 5s; */
}

.spinner-piece {
    height: 50%;
    width: 200px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    left: 135px;
    transition: 2s;
}

.spinner-piece-icon {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.one {
    background-color: #3f51b5;
    transform: rotate(0deg);
}

.two {
    background-color: #ff9800;
    transform: rotate(45deg);
}

.three {
    background-color: #4caf50;
    transform: rotate(90deg);
}

.four {
    background-color: #009688;
    transform: rotate(135deg);
}

.five {
    background-color: #795548;
    transform: rotate(180deg);
}

.six {
    background-color: #341d88;
    transform: rotate(225deg);
}

.seven {
    background-color: #711aa3;
    transform: rotate(270deg);
}

.eight {
    background-color: #e91e63;
    transform: rotate(315deg);
}

.spinner-piece-blue {
    background-color: blue;
}

.spinner-piece-purple {
    background-color: purple;
}

.spinner-piece-gold {
    background-color: gold;
}

#arrow {
    position: absolute;
    top: calc(50% + 30px);
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    width: 20px;
    height: 30px;
    background-color: #ffffff;
    pointer-events: none;
    z-index: 100;
}


#spin-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: 8px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    outline: none;
    background-color: #ffffff;
    pointer-events: auto;
    cursor: pointer;
}

/* Reward Screen */
#reward-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #161616;
    display: none;
    /* display: block; */
}

#reward-container-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    cursor: pointer;
}

#reward-header {
    margin: auto auto 0 auto;
    color: rgb(238, 238, 238);
    font-size: calc(2vh + 2vw);
    cursor: auto;
}


#reward-items-container {
    position: relative;
    width: 80%;
    margin: 2%;
    padding: 2%;
    border-top: 2px solid rgba(177, 177, 177, 0.582);
    border-bottom: 2px solid rgba(177, 177, 177, 0.582);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    pointer-events: auto;
    cursor: auto;
    /* box-shadow: 0 0 0 9999px black; */
}

.reward-item {
    position: relative;
    border-radius: 2px;
    margin: 5px;
    width: 64px;
    height: 64px;
    pointer-events: auto;
    cursor: pointer;
    background-color: rgb(88, 88, 88);
    box-shadow: 0 0 2px 1px rgb(255, 255, 255);
    /* pointer-events: auto; */
}

.reward-item-img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.reward-item-quantity {
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    pointer-events: none;
}


#reward-footer {
    margin: 0 auto auto auto;
    height: 20%;
    color: rgb(204, 204, 204);
    cursor: pointer;
}